* {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d1dbc8; 
    color: #1f1106; 
}

header {
    background-color: #b8c2a0; 
    padding: 15px;
    color: #1f1106;
    border-bottom: 1px solid #c97c7a; 
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 150px; 
    margin-right: 10px;
}

.logo span {
    font-size: 30px;
    font-weight: bold;
    color: #1f1106; 
}

.barra-de-pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px; /* Limite máximo para o tamanho da barra */
    margin: 0 auto; /* Centraliza horizontalmente */
    position: relative;
}

.barra-de-pesquisa input {
    padding: 15px;
    width: 100%; /* Ajusta automaticamente ao tamanho máximo da barra */
    max-width: 700px; /* Limite máximo para o campo de texto */
    border: 1px solid #c97c7a;
    border-radius: 5px;
}

.barra-de-pesquisa input::placeholder {
    color: #1f1106;
}

.barra-de-pesquisa input:focus {
    outline: none;
    border-color: #da3754;
}

.barra-de-pesquisa button {
    position: absolute;
    right: 10px; /* Ajuste para posicionar o botão corretamente */
    top: 50%;
    transform: translateY(-50%);
    background: #da3754;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 13.9px;
}

.barra-de-pesquisa i {
    font-size: 20px;
    color: #1f1106;
}

.botao-carrinho {
    background: none;
    border: none;
    color: #1f1106; 
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.login {
    display: flex;
    align-items: center;
}

.login a {
    color: #1f1106;
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
}

.login a:hover {
    color: #da3754; 
}

.carrinho {
    display: flex;
    align-items: center;
    transform: scaleX(-1);
    margin-right: 50px;
}

.carrinho .botao-carrinho {
    font-size: 40px;
}

.carrinho a {
    color: #1f1106; 
    text-decoration: none;
    font-size: 16px;
}

.carrinho a:hover {
    color: #da3754; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 10px;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: #1f1106;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #da3754; 
}

.banner {
    position: relative;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-text {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.banner-text h2 {
    font-size: 36px;
}

.banner-text .btn {
    background-color: #da3754;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.produtos-destaque {
    padding: 40px;
    background-color: #fff;
    color: #1f1106;
}

.produtos-destaque h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
}

.produto {
    position: relative; 
    background-color: #d1dbc8; 
    padding: 25px;
    border-radius: 5px;
    margin: 10px;
    height: 500px;
}

.produto img {
    width: 100%;
    height: auto;
}

.produto p {
    position: absolute;
    top: 75%;
    left: 25%;
    font-size: 25px;
    margin-bottom: 15px;
}

.grade-produto {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.botao-adicionar-carrinho {
    position: absolute; 
    padding: 15px;
    top: 85%;
    left: 50%; 
    transform: translateX(-50%);
    margin-bottom: 10px;
    width: 160px;
    border: none;
    border-radius: 5px;
    background-color: #da3754; 
    font-size: 19px;
    color: #1f1106; 
}

.botao-adicionar-carrinho:hover {
    background-color: white; 
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1f1106;
    color: white;
}

footer .informativo {
    margin-bottom: 15px;
    font-size: 20px;
}

footer .colaboradores,
footer .gitHub {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: white;
}

footer i.fa-github { 
    margin-top: 5px;
    font-size: 30px; 
    margin-right: 5px; 
}

footer a:hover {
    color: #da3754; 
}