* {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Define a altura do corpo como 100% da altura da viewport */
    margin: 0; /* Remove margens padrão */
    font-family: Arial, sans-serif;
    background-color: #d1dbc8; 
    color: #1f1106; 
}
/* Estilo do container de login */
.login {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens no eixo horizontal */
    justify-content: center;
    background-color: #fff;
    padding: 30px;
    border: 1px solid #c97c7a;
    border-radius: 10px;
    width: 600px; /* Mantém a largura constante */
    height: auto; /* Ajusta a altura automaticamente */
    margin: 50px auto; /* Centraliza a seção de login */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para o título */
h1 {
    font-size: 40px; /* Tamanho do texto */
    color: #1f1106; /* Cor do texto */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

/* Estilo dos inputs */
.login input[type="email"],
.login input[type="password"] {
    width: 100%;
    padding: 15px; /* Aumenta o espaçamento interno dos inputs */
    margin: 15px 0; /* Aumenta o espaçamento entre os inputs */
    border: 1px solid #c97c7a;
    border-radius: 5px;
    font-size: 18px; /* Aumenta o tamanho da fonte */
}

/* Estilo para o placeholder dos inputs */
.login input[type="email"]::placeholder,
.login input[type="password"]::placeholder {
    color: #1f1106;
}

/* Estilo para o foco dos inputs */
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    outline: none;
    border-color: #da3754;
}

/* Container para os botões */
.buttonContainer {
    display: flex;
    justify-content: center; /* Centraliza os botões no eixo horizontal */
    align-items: center; /* Centraliza os botões no eixo vertical */
    width: 100%; /* Preenche a largura do container */
    margin: 20px 0; /* Espaçamento acima e abaixo dos botões */
}

/* Estilo do botão de login */
.loginButton button {
    background-color: #da3754;
    color: white;
    border: none;
    padding: 15px 25px; /* Ajusta o padding para botões maiores */
    border-radius: 5px;
    font-size: 16px;
    width: 150px; /* Largura do botão */
    margin: 0 10px; /* Adiciona margem entre os botões */
}

.loginButton button:hover {
    background-color: #b83244;
}

/* Estilo do botão de voltar */
.voltar1 button {
    background-color: #d1dbc8;
    color: #1f1106;
    border: none;
    padding: 15px 25px; /* Ajusta o padding para botões maiores */
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 150px; /* Largura do botão */
    margin: 0 10px; /* Adiciona margem entre os botões */
}

.voltar1 button:hover {
    background-color: #b8c2a0;
}

/* Estilo do link */
.login a {
    color: #da3754;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
}

.login a:hover {
    color: #b83244;
}